---
import "devicon/devicon.min.css";
import {
	faBluesky,
	faDev,
	faGithub,
	faGitlab,
	faMastodon,
	faNpm,
	faStackOverflow,
	faTwitter,
} from "@fortawesome/free-brands-svg-icons";
import { faEnvelope } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
---

<ul>
	<li>
		<a aria-label="Twitter" href="https://twitter.com/1pieter" target="_blank" rel="noreferrer">
			<FontAwesomeIcon fixedWidth={true} icon={faTwitter} />
		</a>
	</li>
	<li>
		<a aria-label="Mastodon" href="https://mastodon.social/@pataar" target="_blank" rel="noreferrer">
			<FontAwesomeIcon fixedWidth={true} icon={faMastodon} />
		</a>
	</li>
	<li>
		<a aria-label="Github" href="https://github.com/pataar" target="_blank" rel="noreferrer">
			<FontAwesomeIcon fixedWidth={true} icon={faGithub} />
		</a>
	</li>
	<li>
		<a aria-label="Gitlab" href="https://gitlab.com/pataar" target="_blank" rel="noreferrer">
			<FontAwesomeIcon fixedWidth={true} icon={faGitlab} />
		</a>
	</li>
	<li>
		<a aria-label="NPM" href="https://npmjs.com/pataar" target="_blank" rel="noreferrer">
			<FontAwesomeIcon fixedWidth={true} icon={faNpm} />
		</a>
	</li>
	<li>
		<a aria-label="NPM" href="https://bsky.app/profile/pataar.nl" target="_blank" rel="noreferrer">
			<FontAwesomeIcon fixedWidth={true} icon={faBluesky} />
		</a>
	</li>
	<li>
		<a
			aria-label="StackOverflow"
			href="https://stackoverflow.com/users/3173382/pataar"
			target="_blank"
			rel="noreferrer">
			<FontAwesomeIcon fixedWidth={true} icon={faStackOverflow} />
		</a>
	</li>
	<li>
		<a aria-label="Dev" href="https://dev.to/pataar" target="_blank" rel="noreferrer">
			<FontAwesomeIcon fixedWidth={true} icon={faDev} />
		</a>
	</li>
	<li>
		<a aria-label="Mail" href="mailto:pataar@pm.me" target="_blank" rel="noreferrer">
			<FontAwesomeIcon fixedWidth={true} icon={faEnvelope} />
		</a>
	</li>
</ul>

<style>
	@reference "tailwindcss";
	li {
		@apply inline-block m-1;
	}

	li a {
		@apply h-6 w-6 no-underline inline-flex items-center justify-center;
		font-size: 1.05em;
	}

	li a:hover {
		transform: scale(1.1);
		opacity: 0.8;
	}
</style>
